################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TypesOfMiddleware/obj
/TypesOfMiddleware/bower_components
/TypesOfMiddleware/bin/Debug/netcoreapp2.0
/.vs
/TestApplicationTemplate
/RoutingMVC6/bin
/RoutingMVC6/obj
/MVC6DemosUnitTest/obj
/MVC6DemosUnitTest/bin/Debug/netcoreapp2.0
/.axoCover
/MVC6DemosUnitTest
/JWTAuthenticationSample/obj
/JWTAuthenticationSample/bin/Debug/netcoreapp2.0
/AdvancedRoutingChp16/bin/Debug/netcoreapp2.0
/AdvancedRoutingChp16/obj
/JWTAuthenticationApi/bin/Debug/netcoreapp2.0
/JWTAuthenticationApi/obj
/DependencyInjectionChp18/bin/Debug/netcoreapp2.0
/DependencyInjectionChp18/obj
/IdentityTestApi/bin/Debug/netcoreapp2.0
/IdentityTestApi/obj
/LoggingConfigDemo
/IdentityTestApi
/MvcVsMvcCore/bin/Debug/netcoreapp2.0
/MvcVsMvcCore/obj
/IdentityOpenIdAuthentication
/ApiDemosChp20/bin/Debug/netcoreapp2.0
/ApiDemosChp20/obj
