@*@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*@removeTagHelper AnchorTagHelper,Microsoft.AspNetCore.Mvc.TagHelpers*@
<div>
    <table>
        <tr>
            <td>
                ControllerName:     
            </td>
            <td>
                @ViewBag.ControllerName
            </td>
        </tr>
        <tr>
            <td>
                ActionName:     
            </td>
            <td>
                @ViewBag.ActionName
            </td>
        </tr>
    </table>
</div>
<br/><br/>
<div>
    <a asp-action="ActionMethodInSameController">ActionMethodInSameController</a>
</div>
<br/><br/>
<div>
    <a asp-action="DifferentControllerActionMethod" asp-controller="TestSecond">DifferentControllerActionMethod</a>
</div>