<div>
    <table>
        <tr>
            <td>
                ControllerName:
            </td>
            <td>
                @ViewBag.ControllerName
            </td>
        </tr>
        <tr>
            <td>
                ActionName:
            </td>
            <td>
                @ViewBag.ActionName
            </td>
        </tr>
    </table>
</div>
<br /><br />